.profile {
    width: 320px;
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;

    &__header {
        padding: 10px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        letter-spacing: 0.2rem;
        font-weight: bold;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }

    &__image {
        position: relative;
        margin-bottom: 20px;
        transition: transform 0.3s;


        img {
            width: 128px;
            height: 128px;
            border-radius: 50%;
            box-shadow: 0 4px 8px rgba(179, 179, 179, 0.2);
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &__body {
        padding: 0 20px;
        color: #fff;
        font-size: 0.9em;
        line-height: 1.6;
        text-align: center;
        width: calc(100% - 20px * 2);


        p {
            margin-bottom: 20px;
        }
    }

    &__socials {
        margin-top: 60px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        gap: 16px;
        border-top: 1px solid #2c2c2c;

        .profile__social-link {
            color: #fff;
            font-size: 2.5em;
            transition: color 0.3s;

            &:hover {
                color: #5900ff;
            }
        }
    }

    &__name {
        font-size: 24px;
    }
}
